<h1>TagSearch#search</h1>

<div>
	<table>
		<% @articles.each do |a| %>
			<tr>
				<td>
					<%= a.title %> <br>
					<%= a.author %> <br>
					<%= a.date %> <br>
				</td>
			</td>
		<% end %>
	</table>
</div>
