/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



#main {
	margin: 0 auto;
	//background-color: #FCE7A6;
}
#header {
	
	background-color: #6191A5;
}


.logo {
	font-size: 27px;
	font-weight: bold;

	color:  white;

	a {
		text-decoration: none;
		color: white;
	}

	a:visited {
		color: white;
	}
}

.search_bar {
	div {
		display: inline-block;
	}
}

.header_div {
	width: 1000px;
	margin: 0 auto;
	padding: 20px;

	div {
		display: inline-block;
	}
}


#bottom {
	margin-top: 100px;

	background-color: #303030;

	height: 200px;
}


#layout {


	margin: 0 auto;

	width: 1000px;
	//background-color: black;
}

.yield {
	width: 810px;
	//background-color: yellow;

	display: inline-block;
}

.rightbar {
	vertical-align: top;
	width: 180px;
	//ackground-color: red;
	display: inline-block;
}

/*kaminari page css*/
.kaminari_page, .kaminari_first, .kaminari_prev, .kaminari_next, .kaminari_last {

	margin: 2px;

	padding: 3px;

	border-radius: 1px;
	color: black;

	background-color: #E3E3E3;

}


.kaminari_page_current {
	color: white;
	background-color: black;

	margin: 2px;

	padding: 3px;

	border-radius: 1px;
}
