/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


#main {
	margin: 0 auto;
	//background-color: yellow;
}

#header {
	
	height: 80px;
	background-color: #3B3B3B;

	.header_div {

		width: 900px;
		margin: 0 auto;

		div {
			display: inline-block;
		}
	}
	
}

.login {
	border: none;
	margin-right: 0px;

	width: 100px;

	background-color: red;
}


.logo {
	margin-left: 5px;
	margin-top: 25px;
	font-size: 27px;
	font-weight: bold;

	background-color: blue;
	border: none;

	color:  #6191A5;

	a {
		text-decoration: none;
		color: #6191A5;
	}

	a:visited {
		color: #6191A5;
	}

	a:hover {
		color: #FCE7A6;
		background: none;
	}
}

.search_bar {

	margin-top: 10px;

	div {
		display: inline-block;
	}

	.search_field {

		input {
			padding: 10px;
			width: 170px;
			margin-right: 0px;

			border: 1px solid #C9C9C9;
		}
	}

	.search_btn {

		input {
			margin-left: 0px;
			padding: 10px;
			border: 1px solid #C9C9C9;
			background-color: #24AFD0;
			color: white;
		}

	}

	.search_table {
		tr, td {	
			padding: 0px;
			margin: 0px;
			border: none;
		}
	}
}



#bottom {
	margin-top: 100px;

	background-color: #303030;

	height: 200px;

	display: none;
}


#layout {


	margin: 0 auto;

	//background-color: red;
	width: 1050px;
}

.yield {
	width: 750px;

	//background-color: yellow;

	display: inline-block;
}

.rightbar {
	vertical-align: top;
	width: 280px;
	//background-color: #098;
	display: inline-block;
}

.paginate {

	padding: 15px;

	text-align: center;

	//border: 1px solid gray;

	width: 700px;

	margin: 0 auto;
}

.pagination {
	span {
		margin: 2px;
		padding: 5px;

		&:hover {
			padding: 5px;
			background: #24AFD0;
			color: white;
			border-radius: 3px;
		}

		a {
			padding: 5px;
			border-radius: 3px;
			text-decoration: none;
		}

		a:hover {
			background: none;
		}
	}
}

/*kaminari page css*/
.kaminari_page, .kaminari_first, .kaminari_prev, .kaminari_next, .kaminari_last {

}


.kaminari_page_current {
	background-color: #24AFD0;
	border-radius: 3px;
	color: white;
}


.tags {
	//display: none;
	margin-top: 10px;
	width: 250px;
	background-color: white;
	border: 1px solid #C9C9C9;
	padding: 10px;

	color: #555555;

	a {
		text-decoration: none;

	}
}

.tags_title {
	border-bottom: 1px solid #C9C9C9;

	font-size: 18px;
	color: #24AFD0;

	padding-top: 10px;
	padding-bottom: 10px;
}


.tags_content {
	padding-top: 10px;
	padding-bottom: 10px;
}
