// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.articles {

	.layout {
		margin-left: auto;
		margin-right: auto;
		width: 900px;
	}
	.article_list {
		width: 500px;
	//	background-color: gray;
	}

	.article {
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 750px;

		background-color: white;
		border-radius: 5px;
		padding: 10px;

	}

	.article_comment {
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;

		border-radius: 5px;

		width:  750px;
		padding: 10px;

		background-color: #C2C2C2;

		.title {
			padding: 10px;
			font-size: 20px;
		}
	}

	.article_tags {
		font-size: 10px;
	}

	.article_bottom {
		//border: 1px solid gray;
		//border-radius: 5px;
		//padding: 3px;
		//background-color: red;
	}

	.content {
		width: 600px;
		border-left:  3px solid #C7C7C7;
		padding-left: 7px;
	}

	.title {
		a:link { 
			text-decoration: none; 
			color: #4682B4; 
		}

		a:visited {
			text-decoration: none;
			color: #4682B4;
		}

		a:hover {
			text-decoration: none;
			color: white;
			background-color: dark-gray;
			transition: background-color 1s;
			border-radius: 2px;
		}

		a:active {
			text-decoration: none;
			color: red;
		}
	}

	.comment_list {
		background-color: gray;
	}

	.comment {

		padding: 5px;
		margin-top: 2px;
		background-color: white;
		border-radius: 3px;

		.user {
			border-width: 0px;
			background-color: white;

		}
	}

	.tags {
		display: none;
		margin-top: 5px;
		border-radius: 3px;
		width: 100px;
		background-color: #CAE1FF;
	}
}
