// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.articles {

	.layout {
		margin-left: 0;
		width: 800px;
		//background-color: blue;
	}

	.edit_page {
		padding: 10px;

		background-color: #C6E1D2;
	}

	.article_edit {

		.article_edit_title {

			margin-top: 10px;

			input {
				border-radius: 2px;
				border: none;

				width: 500px;
				padding: 7px;
			}
		}

		.article_edit_content {
			margin-top: 10px;
		}

		.article_edit_tags {

			margin-top: 10px;

			input {

				border-radius: 2px;
				border: none;

				width: 300px;
				padding: 7px;

			}

			
		}

		.article_edit_submit {

			margin-top: 10px;

			input {
				padding: 7px;
				border-radius: 2px;
				border: none;

				background-color: white;
			}
			
		}
		


	}



	.article_list {

		//width: 785px;
		//margin-left: auto;
		//margin-right: auto;
		//background-color: green;
	}

	.article {
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 750px;

		border: 1px solid #C6E1D2;
		border-radius: 2px;
		padding: 10px;

	}

	.article_comment {
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;

		border-radius: 2px;

		width:  750px;
		padding: 10px;

		background-color: #C6E1D2;

		.title {
			padding-top: 20px;
			padding-bottom: 20px;
			padding-left: 10px;

			font-size: 20px;
			color: gray;
		}
	}

	.article_tags {
		font-size: 10px;
	}

	.article_bottom {
		//border: 1px solid gray;
		//border-radius: 5px;
		//padding: 3px;
		//background-color: red;
	}

	.content {
		width: 600px;
		border-left:  3px solid #C7C7C7;
		padding-left: 7px;
	}

	.title {
		color: #4682B4; 

		a:link { 
			text-decoration: none; 
			color: #4682B4; 
		}

		a:visited {
			text-decoration: none;
			color: #4682B4;
		}

		a:hover {
			text-decoration: none;
			color: white;
			background-color: dark-gray;
			transition: background-color 1s;
			border-radius: 2px;
		}

		a:active {
			text-decoration: none;
			color: red;
		}
	}

	.comment_list {
	}

	.comment {

		padding: 5px;
		margin-top: 2px;
		background-color: white;
		border-radius: 2px;

		.user {
			border-width: 0px;
			background-color: white;

		}
	}

	.comment_field {

		input {
			padding: 7px;
			border: 1px solid #ADD8E6;
			border-radius: 2px;

			margin: 5px;


		}

		input:focus {
			background-color: #F7BAA5;

		}

		textarea {
			padding: 7px;
			border: 1px solid #ADD8E6;
			border-radius: 2px;

			margin: 5px;
		}
	}

	.tags {
		//display: none;
		margin-top: 5px;
		border-radius: 3px;
		width: 170px;
		background-color: #CAE1FF;
	}


	.paginate {

		padding: 10px;

		text-align: center;

		border: 1px solid gray;
		//background-color: red;
	}
}
