// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.articles {

	.layout {
		margin-left: 0;
		//background-color: blue;
	}

	.edit_page {

		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 700px;

		padding: 10px;

		border: 1px solid #C9C9C9;
		background-color: white;
	}

	.article_edit {

		.article_edit_title {

			margin-top: 10px;

			input {
				border: 1px solid #24AFD0;

				width: 500px;
				padding: 7px;
			}
		}

		.article_edit_content {
			margin-top: 10px;
		}

		.article_edit_tags {

			margin-top: 10px;

			input {

				border: 1px solid #24AFD0;

				width: 300px;
				padding: 7px;

			}

			
		}

		.article_edit_submit {

			margin-top: 10px;

			input {
				padding: 7px;
				border-radius: 3px;
				border: none;
				background-color: #24AFD0;
				color: white;
				width: 100px;
			}
			
		}
		


	}

	.article_operate {
		border-top: 1px solid  #C9C9C9;
		margin-top: 20px;

		padding-top: 10px;
		padding-bottom: 10px;

		a:link {

			text-decoration: none;
			color: #DC143C;

			padding: 2px;

		}

		a:visited {

			color: #DC143C;

			padding: 2px;

		}

		a:hover {

			background-color: #24AFD0;
			color: white;
			border-radius: 2px;
			padding: 2px;

		}
	}

	.article_list {

		//width: 785px;
		//margin-left: auto;
		//margin-right: auto;
		//background-color: green;
	}

	.article {
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		width: 700px;

		padding: 10px;

		border: 1px solid #C9C9C9;
		box-shadow: 0 0 10px gray;
		background-color: white;

	}

	.article_comment {
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;


		width:  720px;

		

		background-color: white;
		border: 1px solid #C9C9C9;

		.title {
			padding-top: 20px;
			padding-bottom: 20px;
			padding-left: 10px;

			font-size: 20px;
			color: gray;
		}
	}

	.comment_title {

		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;

		background-color: #555555;
		

		p {
			font-size: 20px;
			color: white;
		}


	}

	.comment {
		border-bottom: 1px solid #C9C9C9;

		padding-left: 10px;
		padding-right: 10px;

		padding-top: 15px;
		padding-bottom: 15px;
	}
	.comments {


	}
	.comment_submit {
		background-color: #F0F2F1;
		padding: 10px;
	}

	.article_tags {
		font-size: 10px;
	}

	.article_bottom {
		//border: 1px solid gray;
		//border-radius: 5px;
		//padding: 3px;
		//background-color: red;
	}

	.comment_content {

	}

	.comment_author {
		.author {

			font-weight: bold;
			color: #53868B;
		}
	}

	.content {
		width: 600px;
		color: #7F7F7F;
	}

	.title {
		a:link { 
			text-decoration: none; 
			color: #24AFD0; 
			font-size: 25px;
		}

		a:visited {
			text-decoration: none;
			color: #24AFD0;
		}

		a:hover {
			text-decoration: none;
			color: white;
			background-color: #24AFD0;
			transition: background-color 1s;
			border-radius: 2px;
		}

		a:active {
			text-decoration: none;
			color: red;
		}
	}

	.datetime {
		border-bottom: 1px solid #C9C9C9;
	}

	.comment_list {
	}

	.comment_field {

		input {
			padding: 7px;

			border: 1px solid #24AFD0;

			border-radius: 3px;
			margin-top: 10px;

		}

		textarea {
			padding: 7px;

			border: 1px solid #24AFD0;

			border-radius: 3px;
			margin-top: 10px;
		}
	}

	


	
}
